.container{
	margin: 0 auto;
	padding-top:35px;
	
	@media (min-width:$largest-breakpoint){
		width:40em;
	}
	
	@media (min-width: 55em){
		width:1007px;	
	}
}

.col-container{
	@include clearfix;
}
.col{
	margin-top:1em;
	padding-top:1em;
	min-height:200px;
	&:first-child{ margin-top:0; padding-top:0; }
	
	@media (min-width:$largest-breakpoint){
		float:left;	
		margin-top:0;
		padding-top:0;
		border:none;
	}
}

.col-1{ width:100%; 
	padding: 17px 0;
	border-bottom:1px solid #ebebeb;
}
.plane{
	float:left;	
}
.article1{
	float: right;
	width: 310px;	
}

.col-2{
	@media (min-width:$largest-breakpoint){
		width:48.75%;
		margin-left:2.5%;
		&:first-child{ margin-left:0; }
	}
}

.col-3{
	padding-top:15px !important;
	padding-bottom:6em;
	@media (min-width:$largest-breakpoint){
		width:32%;
		margin-left:2%;
		&:first-child{ margin-left:0; }
	}
}

#videos{
	background-image: url(http://static.digg.com/images/08a0e737098857b93430e928158afb1d_2_www_marquee_standard_blurred.jpeg);
	background-size:cover;
	width:100%;
	height:327px;
}

#videos-container{
width:77%;
margin:0 auto;
padding-top:30px;
overflow:hidden;
}

#video-image{
	width:191px;
	margin-top:48px;
	float:left;
	margin: 38px 7px 0 6px;
}
.upcoming-container{
	float:right;
	width:300px;
	height:1520px;
	margin-top: -1400px;
	border-left: 1px solid #ebebeb;
	padding-left:29px;
}
.upcoming{
	width:300px;
	min-height:81px;
	padding:13px 0 0;
}
.top-story{
	width:638px !important;
	min-height:113px !important;
	margin-left:0 !important;
	padding:20px 0 !important;
	border-bottom:1px solid #ebebeb;
	float:left;
}