.nav-contain{
	width:100%;
	position:fixed;
	top:0;
	left:0;
	height: 54px;
z-index: 999;
background-color: #fff;
border-bottom: 1px solid #d9d9d9;
	-webkit-box-shadow: 0 0 2px 0 rgba(0,0,0,0.5);
box-shadow: 0 0 2px 0 rgba(0,0,0,0.5);
border-bottom-width: 0;
	
	ul{ padding:0; margin:0; }
	li{ margin-top:1em;}
	li:first-child{ margin-top:0; }
	a{ display:block; padding:1em; text-align:center; }
	
	@media (min-width:40em){
		ul { @include clearfix; }
		li { float:left; margin-left:1em; margin-top:0; }
		li:first-child{ margin-left:0; }
		a{ padding:0.5em 1em; text-align:left; }	
	}
}
.main-nav{max-width: 1280px;
margin: 0 auto;}

.left{float:left;	text-transform: uppercase;}

.right{float:right;
font-size:.875em;
	li:before{
		content: '\00B7';
		color:#aaa;	
		margin-right:-0.3em;
		font-size:1.3em;
		position: absolute;
		top: 15px;
	}
	li{
		margin-left: -0.4em;	
	}
	li:first-child:before{
		content:'';	
	}
	li:last-child:before{
		content:'';	
	}
	 .signin:before{
		content:'';	
	}
}

.nav-link{	
	a{color: #aaa;
	display: inline-block;
	text-decoration: none;
	position: relative;
	letter-spacing: 1px;
	padding: 1.357em .750em 1.286em;
	font: .875em "lft-etica","Helvetica Neue",Helvetica,Arial,sans-serif;
	}
	a:hover{color: #0093cc;}
	a:active{color: #000;cursor: default;}
}

.sign{color:#0093cc !important;}

.search{
	top: -3px;
	overflow: hidden;
	display: block;
	height:18px;
	background:url(../images/search.jpg)left no-repeat;
}
	
.search:hover{background:url(../images/search.jpg) right no-repeat;}
		
