/*--Normalize--*/
@import 'normalize';

/* -- Mixins -- */
@import 'mixins';

$largest-breakpoint:1007px;
/*--fonts--*/
$primary-font:'Source Sans Pro', sans-serif;
$secondary-font: 'Helvetica Neue',Arial,sans-serif;

h2{
	font-family: "lft-etica","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight:bold;	
	font-size: 2.313em;
	line-height: 1.027em;
	margin-top: 0px;
	margin-bottom:0;
}
h2:hover{
	@include hover;
}
.smaller{
	font-size:1.375em;
}
strong{
	font-size:0.73em;
	color:#606060;
}
p{
	font-size:.875em;
	color:#444;
	margin: .250em 0 .357em;
}
span{
	font-size:0.73em;
	color:#606060;
}
span:hover{
	@include hover;
}
span:before{
	color: #666;
content: '\00B7';
margin-right:5px;
}
.small-title{
	color: #555;
font: 700 .688em/1.091em "lft-etica","Helvetica Neue",Helvetica,Arial,sans-serif;
letter-spacing: 1px;
margin: 0 0 .364em;	
}

.video-head{
	font-size:0.875em;
	color:#fff;
	font-weight:100;
}
.story-head{
	font-size:0.875em;
	font-weight:100;
	color:#444;
}

.video-title{
	font-size:0.938em;
	color:fff;
}

.video-sub{
	color:#fff;
}

.view{
	float: right;
margin-top: -20px;
text-decoration:none;
}
.view:hover{
	text-decoration:underline;
	cursor:pointer;
}

body{ font-family:$secondary-font; }


/* -- Navigation components -- */
@import 'navigation';

/* -- Layout Components -- */
@import 'layout';