/*--Normalize--*/
@import 'normalize';

/* -- Mixins -- */
@import 'mixins';

$largest-breakpoint:1007px;
/*--fonts--*/
$primary-font:'Source Sans Pro', sans-serif;
$secondary-font: 'Helvetica Neue',Arial,sans-serif;

body{ font-family:$secondary-font; }
h2{font-family:$primary-font; @include font-size(22)}
p{font-family:$primary-font;}

/* -- Banner Components -- */
.banner{
	height:79px;
	background:#4B4B4B;
}


/* -- Navigation components -- */
@import 'navigation';

/* -- Layout Components -- */
@import 'layout';